{# /BlogBundle/Resources/views/Blog/Thread/add.html.twig #}

{% extends "BlogBundle:Templates:index_layout.html.twig" %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Thread
                </h1>
            </div>
        </div>


        {% if editFlag %} 
            {{ form_start(threadForm, {'method': 'POST', 'action': path('edit_thread', {'forumId' : forumId, 'threadId' : threadId, }), 'attr': {'novalidate': 'novalidate'}}) }}
        {% elseif not editFlag %} 
            {{ form_start(threadForm, {'method': 'POST', 'action': path('add_thread', {'forumId' : forumId, }), 'attr': {'novalidate': 'novalidate'}}) }}
        {% endif %}

        <div class="row">
            <div class="col-md-12">



                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">


                        {{ form_label(threadForm.title, '',{ 'label_attr': {'class': 'col-sm-1 control-label'} }) }}
                        <div class="col-sm-5">
                            {{ form_widget(threadForm.title, {'attr': {'class': 'form-control', 'style' : 'max-width=100%'}}) }}
                        </div>
                        <div class="col-sm-5">
                            {{ form_errors(threadForm.title,{ 'attr': {'class': 'col-sm-1 control-label'} }) }}
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">


                        {{ form_label(threadForm.body, '',{ 'label_attr': {'class': 'col-sm-1 control-label'} }) }}
                        <div class="col-sm-5">
                            {{ form_widget(threadForm.body, {'attr': {'class': 'form-control', 'style' : 'max-width=100%'}}) }}
                        </div>
                        <div class="col-sm-5">
                            {{ form_errors(threadForm.body) }}
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">

                        {{ form_label(threadForm.sticky, '',{ 'label_attr': {'class': 'col-sm-1 control-label'} }) }}
                        <div class="col-sm-5">
                            {{ form_widget(threadForm.sticky, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-sm-5">
                            {{ form_errors(threadForm.sticky) }}
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">

                        {{ form_label(threadForm.closed, '',{ 'label_attr': {'class': 'col-sm-1 control-label'} }) }}
                        <div class="col-sm-5">
                            {{ form_widget(threadForm.closed, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-sm-5">
                            {{ form_errors(threadForm.closed) }}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Replies
                        </h1>
                    </div>
                </div>


                <div class="row replies-row" data-prototype="{{ form_widget(threadForm.repliesList.vars.prototype)|e }}">
                    {% for reply in threadForm.repliesList %}
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">


                                {{ form_label(reply.body, '',{ 'label_attr': {'class': 'col-sm-1 control-label'} }) }}
                                <div class="col-sm-5">
                                    {{ form_widget(reply.body, {'attr': {'class': 'form-control', 'style' : 'max-width=100%'}}) }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form_errors(reply.body) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-5">
                            {{ form_widget(threadForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{ form_end(threadForm) }}
    </div>

{% endblock %}

{% block body_js %}
    <script>
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add Reply</a>');
        var $newLinkLi = $('<div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                </div>
                            </div>').append($addTagLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.replies-row');


            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function () {
                addTagFormDeleteLink($(this));
            });


            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAreaForm($collectionHolder, $newLinkLi);
            });
        });


        function addAreaForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }


        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this area</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>
{% endblock %}
