{# /BlogBundle/Resources/views/Blog/Category/view.html.twig #}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Categories
            </h1>
        </div>

        {% if categoryList is empty %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>No Categories Defined Yet</h4>
                    </div>
                </div>
            </div>
        {% endif %}

        {% for category in categoryList %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>{{category.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{category.description}}</p>

                        <a href="{{path('view_forum', {'categoryId': category.id })}}" class="btn btn-default">View</a>

                        {% if app.user and ( is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') ) %}
                            <a href="{{path('add_edit_category', {'categoryId': category.id })}}" class="btn btn-default">Edit</a>
                        {% endif %}

                        {% if app.user and ( is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') ) %}
                            <a href="{{path('remove_category', {'categoryId': category.id })}}" class="btn btn-default">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>
